*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    line-height: 2rem;
    background-color: #7209b7;
    font-family: monospace ;
    

}
.main-container{
    width: 26rem;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    margin:5px auto;
    background-color: white;
    padding: 1rem;
    
}
p{
    margin-bottom: 0.6rem;
    font-weight: 500;
}
.btn{
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 550;
    border-radius: 6px;
    border: none;
    background-color:  #7209b7;
}
.currency-one{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}
.currency-two{
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
input{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border:1px solid black;
    font-size: 16px;
}
.btn:hover{
    color: white;
}
.rate{
    font-size: x-large;
    margin-top: 0.5rem;
}